In [1]:



import matplotlib.pyplot as plt
import pandas as pd


nba_df= pd.read_csv("Resources/Final_nba_df.csv")

In [2]:
with pd.option_context('display.max_columns', None):
    display(nba_df.head())

,GAME_ID,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,PLAYER_NAME,PLAYER_ID,GAME_CLOCK_SECONDS,TOTAL_TIME_SECONDS,MINUTES,SECONDS
0,21400899,W,24,1,1,1:09,10.8,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148,69,2229,1,9
1,21400899,W,24,2,1,0:14,3.4,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148,14,2174,0,14
2,21400899,W,24,3,1,0:00,0.0,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148,0,2160,0,0
3,21400899,W,24,4,2,11:47,10.3,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148,707,2147,11,47
4,21400899,W,24,5,2,10:34,10.9,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148,634,2074,10,34

In [3]:
close_games= nba_df.loc[nba_df['FINAL_MARGIN'].abs() <= 3]
clutch= close_games.loc[(close_games['MINUTES'] == 0) & (close_games['SECONDS'] <= 24)]
clutch

,GAME_ID,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,SHOT_DIST,PTS_TYPE,SHOT_RESULT,...,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,PLAYER_NAME,PLAYER_ID,GAME_CLOCK_SECONDS,TOTAL_TIME_SECONDS,MINUTES,SECONDS
54,21400768,L,-1,14,4,0:01,1.0,34.4,3,missed,...,201588,3.6,0,0,brian roberts,203148,1,1,0,1
299,21400195,L,-1,2,1,0:00,0.0,23.9,3,missed,...,203894,3.6,0,0,brian roberts,203148,0,2160,0,0
310,21400160,L,-2,3,1,0:04,4.0,24.8,3,made,...,201155,4.2,1,3,brian roberts,203148,4,2164,0,4
349,21400071,W,3,1,1,0:02,2.0,22.1,2,missed,...,203118,3.8,0,0,brian roberts,203148,2,2162,0,2
623,21400768,L,-1,9,2,0:02,2.0,8.2,2,missed,...,201588,2.5,0,0,al jefferson,2744,2,1442,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127831,21400432,W,2,4,1,0:03,3.0,25.0,3,made,...,201148,5.4,1,3,jarrett jack,101127,3,2163,0,3
127928,21400266,W,2,1,1,0:21,14.0,6.9,2,made,...,2225,3.9,1,2,jarrett jack,101127,21,2181,0,21
127933,21400266,W,2,6,3,0:00,0.0,32.1,3,missed,...,201158,4.4,0,0,jarrett jack,101127,0,720,0,0
127980,21400178,W,2,8,2,0:24,21.1,0.9,2,made,...,203460,1.3,1,2,jarrett jack,101127,24,1464,0,24
127983,21400178,W,2,11,3,0:12,4.3,2.7,2,made,...,203087,3.4,1,2,jarrett jack,101127,12,732,0,12

In [21]:
# shooter_count_temp= clutch["PLAYER_ID"].unique()
# shooter_count=len(shooter_count_temp) #236 unique shooters
# shot_count= len(clutch['PERIOD']) # 990 total shots taken
# made_shots= clutch.loc[clutch['FGM'] == 1]
# success_rate= ((len(made_shots['PERIOD']))/ shot_count)* 100
# success_rate
new_clutch= clutch.groupby("PLAYER_NAME")
made_shots2=new_clutch["FGM"].sum()
shot_count2= new_clutch["PLAYER_ID"].count()
clutch_chart= pd.DataFrame({"Shot Count": shot_count2,
                           "Made Shots": made_shots2})
clutch_chart["Success Rate"]= made_shots2/shot_count2
clutch_chart=clutch_chart.sort_values(["Success Rate", 'Made Shots'], ascending= False)
most_attempts= clutch_chart["Shot Count"].max()
clutch_chart
weighted_made_shots= clutch_chart["Made Shots"]*0.5
weighted_success_rate= clutch_chart["Success Rate"]*0.5
clutch_chart["Weighted Rank"]= (weighted_made_shots+weighted_success_rate)/2
clutch_chart.sort_values("Weighted Rank", ascending=False).head(10)

                Shot Count  Made Shots  Success Rate  Weighted Rank
PLAYER_NAME
brandon knight          17          10      0.588235       2.647059
james harden            11           8      0.727273       2.181818
jarrett jack            12           8      0.666667       2.166667
tyreke evans            18           8      0.444444       2.111111
manu ginobili           17           7      0.411765       1.852941
lou williams            10           6      0.600000       1.650000
tim duncan              13           6      0.461538       1.615385
john wall               17           6      0.352941       1.588235
nikola vucevic           6           5      0.833333       1.458333
anthony davis            8           5      0.625000       1.406250